# Sai Rohith Enumala

## Research question/interests

We are interested in Toronto's Airbnb listings (dataset) as it contains a multitude of elements including neighborhoods, pricing, ratings, and whether or not the host is a super host. Research Question: I want to analyse whether prices vary between the listings of superhost and normal host based on accomadation size and also, I will compare the clealiness of listings between both type of hosts.

In [112]:
import pandas as pd

In [113]:
df = pd.read_csv ("../data/raw/listings.csv")

In [114]:
df

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1419,https://www.airbnb.com/rooms/1419,20210806113117,2021-08-06,Beautiful home in amazing area!,"This large, family home is located in one of T...",The apartment is located in the Ossington stri...,https://a0.muscache.com/pictures/76206750/d643...,1565,https://www.airbnb.com/users/show/1565,...,5.00,5.00,5.00,NaN,f,1,1,0,0,0.09
1,8077,https://www.airbnb.com/rooms/8077,20210806113117,2021-08-07,Downtown Harbourfront Private Room,Guest room in a luxury condo with access to al...,NaN,https://a0.muscache.com/pictures/11780344/141c...,22795,https://www.airbnb.com/users/show/22795,...,4.90,4.92,4.83,NaN,t,2,1,1,0,1.56
2,23691,https://www.airbnb.com/rooms/23691,20210806113117,2021-08-07,Queen Bedroom close to downtown,<b>The space</b><br />Nestled in the middle of...,NaN,https://a0.muscache.com/pictures/615528/d09ab3...,93825,https://www.airbnb.com/users/show/93825,...,4.93,4.34,4.73,NaN,t,2,0,2,0,1.79
3,27423,https://www.airbnb.com/rooms/27423,20210806113117,2021-08-07,Executive Studio Unit- Ideal for One Person,"Brand new, fully furnished studio basement apa...",NaN,https://a0.muscache.com/pictures/176936/b687ed...,118124,https://www.airbnb.com/users/show/118124,...,5.00,4.82,4.82,NaN,f,1,1,0,0,0.21
4,28160,https://www.airbnb.com/rooms/28160,20210806113117,2021-08-06,"Safe, Central, Quiet and Great Amenities!",NaN,Simply the best and safest neighbourhood in T....,https://a0.muscache.com/pictures/166666/71e95e...,86838,https://www.airbnb.com/users/show/86838,...,5.00,5.00,4.86,NaN,f,1,1,0,0,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15079,51492931,https://www.airbnb.com/rooms/51492931,20210806113117,2021-08-06,Spacious Studio Apartment Downtown Toronto Sma...,Very spacious cozy studio apartment. Located r...,The Kensington neighbourhood is defined by its...,https://a0.muscache.com/pictures/e7a25a9c-f8df...,311805447,https://www.airbnb.com/users/show/311805447,...,NaN,NaN,NaN,NaN,f,6,6,0,0,NaN
15080,51493223,https://www.airbnb.com/rooms/51493223,20210806113117,2021-08-06,Elegant One Bedroom Condo in Core Downtown,Beautiful one bedroom condo in Entertainment d...,NaN,https://a0.muscache.com/pictures/e90918d6-9268...,416677873,https://www.airbnb.com/users/show/416677873,...,NaN,NaN,NaN,NaN,t,4,4,0,0,NaN
15081,51493266,https://www.airbnb.com/rooms/51493266,20210806113117,2021-08-07,Bright large 2 bedrooms apt with separate entr...,Bright large 2 bedrooms apt with separate entr...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,259499767,https://www.airbnb.com/users/show/259499767,...,NaN,NaN,NaN,STR-2009-UDFHGC,f,5,3,2,0,NaN
15082,51493385,https://www.airbnb.com/rooms/51493385,20210806113117,2021-08-06,2 BR Condo Downtown with CN Tower View,Beautiful one bedroom condo in Entertainment d...,NaN,https://a0.muscache.com/pictures/f921100f-37dd...,416677873,https://www.airbnb.com/users/show/416677873,...,NaN,NaN,NaN,STR-2011-GDQKVF,f,4,4,0,0,NaN
15083,51493427,https://www.airbnb.com/rooms/51493427,20210806113117,2021-08-06,Private Bedroom Downtown Toronto Central,"Cozy bedroom in a quiet residential house, sha...",Visiting Toronto’s Chinatown can be an excitin...,https://a0.muscache.com/pictures/60c1abfe-7887...,344709977,https://www.airbnb.com/users/show/344709977,...,NaN,NaN,NaN,NaN,f,3,0,3,0,NaN

# MILESTONE 3

### Task-1: Data Analysis

In [115]:
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt

In [117]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15084 entries, 0 to 15083
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            15084 non-null  int64
 1   listing_url                                   15084 non-null  object
 2   scrape_id                                     15084 non-null  int64
 3   last_scraped                                  15084 non-null  object
 4   name                                          15083 non-null  object
 5   description                                   14598 non-null  object
 6   neighborhood_overview                         9326 non-null   object
 7   picture_url                                   15084 non-null  object
 8   host_id                                       15084 non-null  int64
 9   host_url                                      15084 non-null  object
 10  host_name                                     15077 non-null  object
 11  host_since                                    15077 non-null  object
 12  host_location                                 15070 non-null  object
 13  host_about                                    8260 non-null   object
 14  host_response_time                            8724 non-null   object
 15  host_response_rate                            8724 non-null   object
 16  host_acceptance_rate                          8972 non-null   object
 17  host_is_superhost                             15077 non-null  object
 18  host_thumbnail_url                            15077 non-null  object
 19  host_picture_url                              15077 non-null  object
 20  host_neighbourhood                            10736 non-null  object
 21  host_listings_count                           15077 non-null  float64
 22  host_total_listings_count                     15077 non-null  float64
 23  host_verifications                            15084 non-null  object
 24  host_has_profile_pic                          15077 non-null  object
 25  host_identity_verified                        15077 non-null  object
 26  neighbourhood                                 9326 non-null   object
 27  neighbourhood_cleansed                        15084 non-null  object
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      15084 non-null  float64
 30  longitude                                     15084 non-null  float64
 31  property_type                                 15084 non-null  object
 32  room_type                                     15084 non-null  object
 33  accommodates                                  15084 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                15071 non-null  object
 36  bedrooms                                      13945 non-null  float64
 37  beds                                          14873 non-null  float64
 38  amenities                                     15084 non-null  object
 39  price                                         15084 non-null  object
 40  minimum_nights                                15084 non-null  int64
 41  maximum_nights                                15084 non-null  int64
 42  minimum_minimum_nights                        15084 non-null  int64
 43  maximum_minimum_nights                        15084 non-null  int64
 44  minimum_maximum_nights                        15084 non-null  int64
 45  maximum_maximum_nights                        15084 non-null  int64
 46  minimum_nights_avg_ntm                        15084 non-null  float64
 47  maximum_nights_avg_ntm                        15084 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              15084 non-null  object
 50  availability_30                               15084 non-null  int64
 51  availability_60                               15084 non-null  int64
 52  availability_90                               15084 non-null  int64
 53  availability_365                              15084 non-null  int64
 54  calendar_last_scraped                         15084 non-null  object
 55  number_of_reviews                             15084 non-null  int64
 56  number_of_reviews_ltm                         15084 non-null  int64
 57  number_of_reviews_l30d                        15084 non-null  int64
 58  first_review                                  11609 non-null  object
 59  last_review                                   11609 non-null  object
 60  review_scores_rating                          11609 non-null  float64
 61  review_scores_accuracy                        11435 non-null  float64
 62  review_scores_cleanliness                     11437 non-null  float64
 63  review_scores_checkin                         11434 non-null  float64
 64  review_scores_communication                   11434 non-null  float64
 65  review_scores_location                        11433 non-null  float64
 66  review_scores_value                           11434 non-null  float64
 67  license                                       4370 non-null   object
 68  instant_bookable                              15084 non-null  object
 69  calculated_host_listings_count                15084 non-null  int64
 70  calculated_host_listings_count_entire_homes   15084 non-null  int64
 71  calculated_host_listings_count_private_rooms  15084 non-null  int64
 72  calculated_host_listings_count_shared_rooms   15084 non-null  int64
 73  reviews_per_month                             11609 non-null  float64
dtypes: float64(19), int64(21), object(34)
memory usage: 8.5+ MB

In [141]:
df_temp = df[["id", 'name', 'host_id', 'host_name', 'host_is_superhost','price','review_scores_cleanliness']]
df_temp

,id,name,host_id,host_name,host_is_superhost,price,review_scores_cleanliness
0,1419,Beautiful home in amazing area!,1565,Alexandra,f,$469.00,5.00
1,8077,Downtown Harbourfront Private Room,22795,Kathie & Larry,f,$94.00,4.89
2,23691,Queen Bedroom close to downtown,93825,Yohan & Sarah,f,$72.00,4.82
3,27423,Executive Studio Unit- Ideal for One Person,118124,Brent,f,$45.00,4.82
4,28160,"Safe, Central, Quiet and Great Amenities!",86838,Rita,f,$75.00,4.86
...,...,...,...,...,...,...,...
15079,51492931,Spacious Studio Apartment Downtown Toronto Sma...,311805447,Anthony,f,$71.00,NaN
15080,51493223,Elegant One Bedroom Condo in Core Downtown,416677873,Debashis,f,$109.00,NaN
15081,51493266,Bright large 2 bedrooms apt with separate entr...,259499767,Sue,f,$106.00,NaN
15082,51493385,2 BR Condo Downtown with CN Tower View,416677873,Debashis,f,$263.00,NaN
15083,51493427,Private Bedroom Downtown Toronto Central,344709977,James,f,$39.00,NaN

In [142]:
df_temp.head()

,id,name,host_id,host_name,host_is_superhost,price,review_scores_cleanliness
0,1419,Beautiful home in amazing area!,1565,Alexandra,f,$469.00,5.00
1,8077,Downtown Harbourfront Private Room,22795,Kathie & Larry,f,$94.00,4.89
2,23691,Queen Bedroom close to downtown,93825,Yohan & Sarah,f,$72.00,4.82
3,27423,Executive Studio Unit- Ideal for One Person,118124,Brent,f,$45.00,4.82
4,28160,"Safe, Central, Quiet and Great Amenities!",86838,Rita,f,$75.00,4.86

In [145]:
 df_temp[['price']].describe(include="object")

          price
count     15084
unique      620
top     $100.00
freq        501

In [146]:
df_temp[['review_scores_cleanliness']].describe(include='float64')

       review_scores_cleanliness
count               11437.000000
mean                    4.679526
std                     0.510812
min                     0.000000
25%                     4.590000
50%                     4.840000
75%                     5.000000
max                     5.000000

In [147]:
 df_temp.describe(include='object').T

,count,unique,top,freq
name,15083,14742,Private room in a shared hostel suite downtown,8
host_name,15077,4740,David,105
host_is_superhost,15077,2,f,11134
price,15084,620,$100.00,501

In [148]:
df_temp['host_is_superhost'].value_counts()

f    11134
t     3943
Name: host_is_superhost, dtype: int64

In [149]:
df_temp['host_is_superhost'].describe(include ='object')

count     15077
unique        2
top           f
freq      11134
Name: host_is_superhost, dtype: object

In [154]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15084 entries, 0 to 15083
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         15084 non-null  int64
 1   name                       15083 non-null  object
 2   host_id                    15084 non-null  int64
 3   host_name                  15077 non-null  object
 4   host_is_superhost          15077 non-null  object
 5   price                      15084 non-null  object
 6   review_scores_cleanliness  11437 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 825.0+ KB

In [168]:
df_temp['name'] = df_temp['name'].astype(str)

C:\Users\Rohith\AppData\Local\Temp/ipykernel_3976/3613284817.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['name'] = df_temp['name'].astype(str)

In [169]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15084 entries, 0 to 15083
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         15084 non-null  int64
 1   name                       15084 non-null  object
 2   host_id                    15084 non-null  int64
 3   host_name                  15077 non-null  object
 4   host_is_superhost          15077 non-null  object
 5   price                      15084 non-null  object
 6   review_scores_cleanliness  11437 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 825.0+ KB